
body{
  background-color: gray;
}
.Row{
  width: auto;
  margin: auto;
  margin-top: 30%;
}
.frame{
  width: auto;
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 30%;
  border-radius: 10px;
  padding: 20px;

}
h1{
  font-size: 3vw;
}
.btn{
  background-color: white;
  color: black;
  font-weight: bold;
  border: 2px solid black;
}
.btn1{
  margin:45px;
}
/*.btn2{
  margin:25% 22.5% 5% 8%;
}


/*.App-logo {
  width: fit-content;
  pointer-events: none;
  margin-top: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.000009s  ;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
